* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    background-color: #fff;
    color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 50%;
    padding-top: 60px;
    flex-wrap: wrap;
}

.profile-pic {
    width: 200px;
    height: auto;
    margin-right: 40px;
    border-radius: 15%;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.profile-text h1 {
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

.profile-text h2 {
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.general-container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

a {
    color: #a16153;
    text-decoration: none;
}

a:hover {
    color: #6f3424;
    text-decoration: underline;
}

.profile-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.profile-icon {
    color: #888888;
    font-size: 24px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.profile-icon svg {
    width: 1em;
    height: 1em;
}

.profile-icon:hover {
    color: #a16153;
    text-decoration: none;
}

.footer {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #fff;
    color: #000000;
    font-size: 14px;
    margin-top: auto;
}

/* for mobile */
@media (max-width: 600px) {
    body {
        padding-left: 30px;
        padding-right: 30px;
        justify-content: flex-start; 
    }

    .profile-container,
    .general-container,
    .footer {
        width: 100%; 
    }

    .profile-container {
        padding-top: 30px; 
        flex-direction: column;
        text-align: center; 
    }

    .profile-pic {
        width: 150px; 
        margin-right: 0; 
        margin-bottom: 20px; 
    }

    .profile-text h1 {
        font-size: 28px; 
    }

    .profile-text h2 {
        font-size: 18px; 
    }

    .profile-icons {
        justify-content: center;
    }

    .profile-icon {
        font-size: 20px; 
    }
}
